.case {
    padding: 64px;
}
.showcase-welcome {
    all: unset;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
    flex-direction: column;
    color: white;
    background: black;
}

.showcase-menu {
    all: unset;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
    flex-direction: column;
}

.showcase-menu-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.showcase-menu-content-group {
    margin: 40px;
    display: flex;
    flex-direction: column;
}

.showcase-menu-content-group-name {
    all: unset;
    font-weight: bold;
    display: block;
    border-bottom: 1px solid black;
    margin-bottom: 16px;
}

.showcase-menu-content-item {
    all: unset;
    cursor: pointer;
    display: block;
    margin-bottom: 8px;
}