.ui-button {
    position: relative;
    border: none;
    font: inherit;
    outline: none;
    padding: 10px 16px;
    width: fit-content;
    cursor: pointer;
    font-size: 15px;
    line-height: 18px;
    &:active {
        box-shadow: none;
    }
    &.loading {
        > span:first-child{
            filter: blur(1px);
            opacity: 0.4;
        }
        > span:last-child{
            position: absolute;
            left: 50%;
            margin-left: -8px;
            > svg {
                font-size: 18px;
            }
        }
    }
}