.ui-button {
    position: relative;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 16px;
    @extend %text;
    border: 1px solid;
    &:active {
        box-shadow: none !important;
    }
    &.loading {
        > span:first-child{
            filter: blur(1px);
            opacity: 0.4;
        }
        > span:last-child{
            position: absolute;
            left: 50%;
            margin-left: -8px;
            > svg {
                font-size: 18px;
            }
        }
    }
}