.ui-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    &-input {
        width: 16px;
        height: 16px;
        border: 1px solid $interface;
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-label {
        padding-left: 5px;
    }
}
.ch-radio {
    border-radius: 15px;
}

.ch-checked {
    background: $accent;
}

.circle {
    height: 10px;
    width: 10px;
    background-color: $text;
    border-radius: 50%;
}