.ui-datepicker {
    position: relative;
    user-select: none;
    transform-origin: center top 0px;
    transition: all 0.3s ease 0s;
    -moz-transform-origin: center top 0px;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transform-origin: center top 0px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transform-origin: center top 0px;
    -o-transition: all 0.3s ease 0s;
    -ms-transform-origin: center top 0px;
    -ms-transition: all 0.3s ease 0s;
    transform:matrix3d(1,0,0.00,0,0.00,0,1.00,0.008,0,-1,0,0,0,0,0,1);
    -moz-transform:matrix3d(1,0,0.00,0,0.00,0,1.00,0.008,0,-1,0,0,0,0,0,1);
    -webkit-transform:matrix3d(1,0,0.00,0,0.00,0,1.00,0.008,0,-1,0,0,0,0,0,1);
    -o-transform:matrix3d(1,0,0.00,0,0.00,0,1.00,0.008,0,-1,0,0,0,0,0,1);
    -ms-transform:matrix3d(1,0,0.00,0,0.00,0,1.00,0.008,0,-1,0,0,0,0,0,1);

    &-active {
        transform: inherit;
        -moz-transform: inherit;
        -webkit-transform: inherit;
        -o-transform: inherit;
        -ms-transform: inherit;
    }
    &-monthgrid {
        &-title {
            &-month {
                font-size: 16px;
                font-weight: 500;
            }
            &-year {
                font-size: 12px;
                font-weight: 500;
            }
            &-weeks {
                &-day {
                    text-transform: uppercase;
                    font-size: 12px;
                    width: 30px;
                    height: 20px;
                    border: 0.5px solid;
                }
            }
        }
        &-day {
            transition: all 0.3s;
            border: 0.5px solid;
            font-weight: 500;
            width: 30px;
            height: 30px;
            cursor: pointer;
        }
    }
}
