.ui-finder {
    color: $text;
    border: 1px solid $highlight;
    margin: 10px;

    &-menu {
        border-right: 1px solid $highlight;
        min-width: 200px;
    }
    
    &-nav, &-section {
        cursor: pointer;
        padding: 10px 10px;
        &-icon {
            font-size: 12px;
            color: $pale;
            padding-left: 10px;
        }
        &-badge {
            font-size: 11px;
            color: $accent;
            background: rgba($accent, 0.1);
            border: 1px solid $accent;
            padding: 0px 4px 2px 4px;
            border-radius: 2px;
        }

        &:hover {
            background: rgba($pale, 0.4);
        }
        &-active {
            background: rgba($pale, 0.2) !important;
        }
        &:first-child {
            margin-top: 10px;
        }
        &:last-child {
            margin-bottom: 10px;
        }
        &-children {
            background: rgba(0,0,0,0.1);
            & div:first-child {
                margin-top: 0;
            }
            & div:last-child {
                margin-bottom: 0;
            }
        }
    }
    &-filter {
        padding: 10px;
        border-bottom: 1px solid $highlight;
        &-input {
            border: 1px solid $highlight;
            border-radius: 2px;
            input {
                appearance: none;
                background: none;
                border: none;
                font-size: inherit;
                color: $text;
                padding: 4px;
                outline: none;
                font-size: 14px;
                &::placeholder{
                    color: $pale;
                }
                width: 100%;
            }
        } 
        &-search-icon {
            padding: 0 0px 0 4px;
            opacity: 0.3;
        }
        &-clear {
            width: 25px;
            height: 25px;
            cursor: pointer;
            svg {
                position: absolute;
                opacity: 0.5;
                transition: all 0.1s;
            }
            &:hover {
                svg {
                    opacity: 1;
                    transform: scale(1.1);
                }
            }
        } 
    }
}