.ui-login {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    &-avatar {
        padding-right: 10px;
        &-generated {
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            background: linear-gradient(90deg, rgba(173,148,159,1) 0%, rgba(165,177,193,1) 100%);
            border-radius: 20px;
            width: 30px;
            height: 30px;
            font-size: 14px;
            text-shadow: 0px 1px 6px rgba($shadow, 0.5);
        }
    }
    &-menu {
        padding: 5px;
        &-fullname {
            font-weight: bold;
        }
        &-login {
            color: $interface;
            padding-top: 4px;
        }
        &-role {
            padding-top: 10px;
        }
        &-actions {
            padding-top: 10px;
        }
    }
}