$rowHeight: 60px;
$rowHeightMin: 40px;

.ui-menu {
    display: flex;
    flex-direction: row;
    background: #000;
    align-items: flex-start;
    padding: 0px 40px;
    border-bottom: 0.5px solid;
    &-header {
        display: flex;
        font-size: 24px;
        align-items: center;
        height: $rowHeight;
        padding-right: 20px;
        cursor: pointer;
        &-title{
            font-weight: bold;
        }
    }
    &-interactions {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        &-navbar, &-toolsbar {
            display: flex;
            flex-direction: row;
            height: $rowHeight;
        }
        &-toolsbar {
            line-height: 1;
            align-items: flex-end;
            &-search {
                height: $rowHeightMin;
                display: flex;
                align-items: center;
                flex: 1;
                max-width: 632px; 
                border: 0.5px solid;
                &-icon {
                    font-size: 18px;
                    padding-right: 10px;
                    cursor: pointer;
                }
                input {
                    appearance: none;
                    box-sizing: border-box;
                    resize: none;
                    border: none;
                    background: none;
                    padding: 8px;
                    outline: none;
                    position: relative;
                    color: inherit;
                    font-size: inherit;
                    width: 100%;
                }
            }
            &-tools {
                display: flex;
                align-items: center;
                height: $rowHeightMin;
                padding-left: 30px;
                > * {
                    padding-left: 10px;
                }
            }
        }
    }
    &-toolsbar {
        display: flex;
        height: $rowHeight;
        align-items: center;
        padding-left: 60px;
        &-tools {
            display: flex;
            align-items: center;
            height: $rowHeightMin;
            > * {
                padding-left: 10px;
            }
        }
    }
}

.ui-menu-nav {
    display: flex;
    font-size: 16px;
    padding: 0 20px;
    align-items: center;
    cursor: pointer;
    position: relative;
    font-weight: 600;
    color: #999;
    span {
        position: absolute;
        bottom: 0px;
        height: 3px;
        background: #fff;
        left: 0;
        right: 0;
        z-index: 1;
    }
}

.nav-min {
    > * { 
        font-size: 14px !important;
        padding: 24px 16px 14px;
    }
}

.header-max {
    align-items: flex-end !important;
        > * {
            margin-bottom: 8px;
        }
}

.bar-max {
    align-items: flex-end !important;
}