$rowHeight: 60px;

.ui-menu {
    display: flex;
    flex-direction: row;
    background: $ui-background;
    align-items: flex-start;
    padding: 0px 40px;
    &-header {
        display: flex;
        font-size: 24px;
        font-weight: bold;
        align-items: center;
        height: $rowHeight;
        padding-right: 40px;
        cursor: pointer;
    }
    &-interactions {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        &-nav {
            display: flex;
            flex-direction: row;
            height: $rowHeight;
        }
    }
}

.ui-menu-nav {
    display: flex;
    padding: 0 15px;
    align-items: center;
    height: $rowHeight;
    cursor: pointer;
    position: relative;
}

.nav-active {
    color: $accent;
    font-weight: 700;
    span {
        position: absolute;
        bottom: 0px;
        height: 4px;
        background: $accent;
        left: 0;
        right: 0;
        z-index: 1;
    }
}