$rowHeight: 60px;

.ui-menu {
    display: flex;
    flex-direction: row;
    background: $ui-background;
    align-items: flex-start;
    padding: 0px 40px;
    &-header {
        display: flex;
        font-size: 24px;
        font-weight: bold;
        align-items: center;
        height: $rowHeight;
        padding-right: 40px;
        cursor: pointer;
    }
    &-interactions {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        &-nav, &-tools {
            display: flex;
            flex-direction: row;
            height: $rowHeight;
        };
        &-tools {
            align-items: flex-end;
            &-search {
                display: flex;
                flex: 1;
                max-width: 632px; 
            }
        }
    }
}

.ui-menu-nav {
    display: flex;
    font-size: 16px;
    padding: 0 20px;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.nav-active {
    color: $accent;
    font-weight: 600;
    span {
        position: absolute;
        bottom: 0px;
        height: 3px;
        background: $accent;
        left: 0;
        right: 0;
        z-index: 1;
    }
}

.nav-min {
    > * { 
        font-size: 14px !important;
        align-items: center;
        padding: 24px 16px 14px;
    }
}

.header-max {
    align-items: flex-end !important;
        > * {
            margin-bottom: 6px;
        }
}