.ui-modal {
    z-index: 500;
    position: fixed;
    background: rgba(8,9,27,0.53);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: scroll;
    padding: 20px;
    margin: 0 -23px 0 -23px;
    @include css3-prefix("transition", all .25s);
    > div {
        > div {
            opacity: 0;
            visibility: hidden;
            padding: 20px;
            background: $ui-background;
            min-width: 200px;
            position: relative;
            @include css3-prefix("transition", all .5s);
            @include css3-prefix("box-shadow", 15px 0 50px rgba(0, 0, 0, 0.3));
            @include css3-prefix("transform", scale(0.2));
            border-radius: 15px;
        }
    }
    &-visible {
        opacity: 1;
        visibility: visible;
        > div > div {
            opacity: 1;
            visibility: visible;
            @include css3-prefix("transform", scale(1));
        }
    }
    &-hidding {
        > div > div {  
            @include css3-prefix("transform", scale(1.8));
        }
    }
    &-closeButton {
        outline: 0;
        border: 0;
        padding: 10px;
        margin: -10px;
        margin-left: 10px;
        color: #bbb;
        background: rgba(255, 255, 255, 0);
        > i {
            font-size: 26px;
        }
    }
}


@media (max-width: 600px) {
    .ui-modal {
        padding: 0 20px;
        > div {
            > div {
                margin: 0 -6px 0 0;
                border-radius: 0;
                width: 100%;
                @include css3-prefix("box-shadow", 0);
            }
        }
    }
}