.ui-notifications {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    float: right;
    &-item {
        width: 300px;
        margin: 10px;
        margin-bottom: 0;
        padding: 16px;
        border: 0.5px solid;

        &-title {
            font-weight: 500;
            font-size: 18px;
            padding-bottom: 4px;
        }
        &-text {
            font-size: 14px;
        }
    }
}