$page-background-t: rgba($page-background, 0.7);

.ui-popup {
    position: absolute;
    background: $ui-background;
    border: 1px solid;
    border-color: $page-background-t;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(20,20,20,0.2);
    color: $text;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &:before {
        position: absolute;
        content: '';
        width: 10px;
        height: 10px;
        background: $ui-background;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        z-index: 2;
    }
    &-error {
        background: $red;
        color: white;
        border: none;
        &:before {
            background: $red;
            box-shadow: none;
        }
    }
}

.pp-bottom-left {
    &:before {
        top: -5px;
        left:1em;
        right:auto;
        bottom:auto;
        margin-left:0;
        box-shadow: -1px -1px 0 0 $page-background-t;
    }
}