.ui-select {
    @include box-sizing(border-box);
    flex: 1;
    font-size: 16px;
    color: #fff;
    &-label {
        font-size: 12px;
        color: $text;
        margin-bottom: 5px;
        text-transform: uppercase;
    }
    &-holder {
        border: 1px solid;
        @include border-radius(2px);
        border-color: $highlight;
        padding: 8px;
        background: $page-background;
        min-height: 20px;
        position: relative;
        display: flex;
        align-items: center;
        &-clear {
            z-index: 1;
            color: $highlight;
            font-size: 16px;
            padding-right: 5px;
            cursor: pointer;
        }
        &-down {
            z-index: 1;
            font-size: 14px;
            color: $highlight;
        }
        &-value {
            flex: 1;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin: -5px;
            &-text {
                padding-left: 5px;
            }
            &-input {
                @include css3-prefix(appearance, none);
                @include box-sizing(border-box); 
                background: none;
                border: none;
                outline: none;
                color: inherit;
                font-size: inherit;
                flex: 1 1 auto;
                padding-left: 5px;
                &::placeholder {
                    color: $pale;
                }
            }
            &-placeholder {
                color: $pale;
                padding-left: 5px;
            }
            &-option {
                z-index: 1;
                font-size: 12px;
                display: flex;
                color: $accent;
                background: rgba($accent, 0.1);
                border: 1px solid $accent;
                @include border-radius(2px);
                margin: 4px;
                &-close {
                    border-right: 1px solid $accent;
                    display: flex;
                    align-items: center;
                    padding: 4px;
                }
                span {
                    padding: 4px;
                }
            }
        }
    }
    &-menu {
        display: none;
        max-height: 200px;
        position: absolute;
        overflow: scroll;
        overflow-x: hidden;
        border: 1px solid;
        @include border-radius(0 0 2px 2px);
        border-color: $highlight;
        border-top-color: rgba($pale, 0.3);
        top: 100%;
        width: 100%;
        background: $page-background;
        z-index: 11;
        left: 0;
        margin: 0 -1px;
        &-item {
            cursor: pointer;
            padding: 8px;
            &:hover {
                background: rgba($pale, 0.3);
            }
            &-nofound {
                padding: 10px;
                color: $pale;
            }
            &-active {
                cursor: pointer;
                padding: 8px;
                background: rgba($pale, 0.3);
            }
        }
    }
}

.visible {
    display: block !important;
}

.active {
    border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 0!important;
}

.disabled {
    opacity: 0.5;
}

.sel-chosen {
    background: rgba($pale, 0.3);
}