.ui-select {
    box-sizing: border-box;
    flex: 1;
    &-label {
        font-size: 12px;
        color: $pale;
        margin-bottom: 5px;
        text-transform: uppercase;
    }
    &-holder {
        border: 1px solid;
        border-radius: 2px;
        border-color: $interface;
        padding: 8px;
        background: $page-background;
        min-height: 20px;
        position: relative;
        display: flex;
        align-items: center;
        &-clear {
            color: $interface;
            font-size: 16px;
            padding-right: 5px;
        }
        &-down {
            font-size: 14px;
            color: $interface;
        }
        &-value {
            flex: 1;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            &-input {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                box-sizing: border-box; 
                background: none;
                border: none;
                outline: none;
                color: inherit;
                font-size: inherit; 
            }
            &-option {
                font-size: 12px;
                display: flex;
                color: $accent;
                background: rgba($accent, 0.1);
                border: 1px solid $accent;
                border-radius: 2px;
                margin: 4px;
                &-close {
                    border-right: 1px solid $accent;
                    display: flex;
                    align-items: center;
                    padding: 4px;
                }
                span {
                    padding: 4px;
                }
            }
        }
    }
    &-menu {
        display: none;
        max-height: 200px;
        position: absolute;
        overflow: scroll;
        overflow-x: hidden;
        border: 1px solid;
        border-radius: 0 0 2px 2px;
        border-color: $interface;
        border-top-color: rgba($pale, 0.3);
        top: 100%;
        width: 100%;
        background: $page-background;
        z-index: 11;
        left: 0;
        margin: 0 -1px;
        &-item {
            cursor: pointer;
            padding: 8px ;
            &:hover {
                background: rgba($pale, 0.3);
            }
        }
    }
}

.visible {
    display: block !important;
}

.active {
    border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 0!important;
}

.sel-chosen {
    background: rgba($pale, 0.3);
}