.ui-textfield {
    display: flex;
    flex: 1;
    flex-direction: column;
    line-height: 1;
    &-label {
        font-size: 12px;
        margin-bottom: 5px;
        text-transform: uppercase;
    }
    &-reset {
        appearance: none;
        box-sizing: border-box;
        resize: none;
        border: none;
        background: none;
        padding: 8px;
        outline: none;
        position: relative;
        color: inherit;
        font-size: inherit;
        width: 100%;
    }
    &-input {
        border: 1px solid;
        border-radius: 2px;
    }
    &-textarea {
        height: 100%;
        border: 1px solid;
        border-radius: 2px;

    }
}