.ui-textfield {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    &-label {
        @extend %label;
        margin-bottom: 4px;
        text-transform: uppercase;
    }
    &-hint {
        @extend %label;
        text-transform: none;
        margin-top: 8px;
        > svg {
            font-size: 16px;
            line-height: 16px;
            padding-right: 4px;
        }
    }
    &-input, &-textarea {
        border: 0.5px solid;
        padding-bottom: 1px;
    }
    > div > input, 
    > div > textarea {
        @extend %text;
        appearance: none;
        box-sizing: border-box;
        resize: none;
        border: none;
        background: none;
        padding: 8px;
        outline: none;
        position: relative;
        color: inherit;
        width: 100%;
        font-family: inherit;
        font-size: inherit;
    }
}