.ui-widget {
    line-height: 1;
    padding: 15px;
    background: rgba(#333, 0.2);
    border: 0.5px solid rgba(#333, 0.2);
    border-radius: 4px;
    @include css3-prefix("transition", all .1s);
    @include css3-prefix("user-select", none);

    &-clickable {
        &:hover {
            @include css3-prefix("transform", scale(1.05));
        }
        &:active {
            @include css3-prefix("transform", scale(1.03));
        }
    }

    &-loading {
        font-size: 24px;
        font-weight: 500;
        color: rgba(#333, 0.5);
        svg { 
            color: #333;
        }
    }
    &-loadingtext {
        font-size: 16px;
        padding-top: 10px;
    }
}