.ui-widgetstat {
    &-title {
        font-size: 18px;
        text-transform: uppercase;
    }
    &-subtitle {
        font-size: 12px;
        opacity: 0.5;
    }
    &-subtitle2 {
        font-size: 12px;
        text-align: right;
        opacity: 0.5;
    }
    &-value1 {
        font-weight: 600;
        font-size: 28px;
        text-transform: uppercase;
    }
    &-value2 {
        font-size: 18px;
        text-transform: uppercase;
        svg {
            position: absolute;
            left: -30px;
            top: -5px;
            font-size: 28px;
        }
    }
    &-button {
        font-size: 14px;
        padding: 10px 10px;
        text-decoration: underline;
    }
    &-extra {
        margin: 15px -15px -15px -15px;
        border-top: 0.5px solid; 
    }
}