.ui-scenes-lkmain { 
    &-side {
        position: absolute;
        left:0;
        top:0;
        bottom: 0;
        z-index: 10;
        overflow: scroll;
        max-width: 280px;
        padding: 20px;
        padding-right: 40px;
        &-background {
            position: absolute;
            left: 0;
            top: 0;
            width: 320px;
            bottom: 0;
            border-right: 1px solid;
        }
    }  
    &-main {
        position: absolute;
        left:0;
        margin-left: 321px; 
        right: 0;
        top:0;
        bottom: 0;
        z-index: 8;

        &-layout {
            padding: 0 40px;
            margin: 0 auto;
            max-width: 960px;
        }

        &-top {
            overflow: scroll;
            // border-bottom-left-radius: 100% 40px;
            // border-bottom-right-radius: 100% 40px;
            padding: 40px;

            &-content {
                margin: 0 auto;
                max-width: 960px;
            }
        }
    }
}
@media (max-width: 640px) {
    .ui-scenes-lkmain { 
        &-main {
            margin-left:0;
        }
        &-side {
            max-width: initial;
            right: 0;
            padding-right: 20px;
            &-background {
                width: initial;
            }
        }
    }
}