.ui-lkcomponent { 
    &-account-select {
        height: 2.25rem;
        margin-bottom: 2.25rem;
        &-field {
            border-width: 0.5px;
            border-style: solid;
            border-left: 0;
            border-radius: 0 2rem 2rem 0;
        }
    }
} 