@import 'fonts';

$pageBackground: rgb(41, 43, 54);
$text: rgb(177, 198, 209);
$pale: rgb(92, 97, 115);
$uiBackground: rgb(70, 74, 88);
$highlight: rgb(133, 140, 166);
$accent: rgb(5, 175, 200);
$red: rgb(244, 67, 54);