.ui-button {
    font-weight: bold;
    position: relative;
    outline: none;
    cursor: pointer;
    @extend %с2;
    padding: 0 calc(1rem - 1px);
    height: 2.25rem;
    line-height: 1rem;
    user-select: none;

    &.small {
        @extend %с3;
        line-height: 1.75rem;
        height: 1.75rem;
        padding: 0 calc(1rem - 1px);
        letter-spacing: -0.29px;
    }

    &.large {
        @extend %с1;
        line-height: 2.75rem;
        height: 2.75rem;
        padding: 0 calc(1.5rem - 1px);
    }

    &:active {
        box-shadow: none !important;
    }

    &.loading {
        > span:first-child{
            filter: blur(1px);
            opacity: 0.4;
        }
        > span:last-child{
            position: absolute;
            left: 50%;
            margin-left: -0.5rem;
            > svg {
                font-size: 1rem;
            }
        }
    }

    &.disabled {
        opacity: .5;
        cursor: not-allowed;
    }
}