.ui-button {
    position: relative;
    border: none;
    outline: none;
    cursor: pointer;
    @extend %с2;
    padding: 0 calc(1rem - 1px);
    font-weight: 600;
    height: 2.25rem;
    // line-height: 1rem;
    border: 1px solid;

    &.small {
        @extend %с4;
        height: 1.5rem;
        padding: 0 calc(0.75rem - 1px);
    }

    &.large {
        @extend %с1;
        height: 2.75rem;
        padding: 0 calc(1.5rem - 1px);
    }

    &:active {
        box-shadow: none !important;
    }

    &.loading {
        > span:first-child{
            filter: blur(1px);
            opacity: 0.4;
        }
        > span:last-child{
            position: absolute;
            left: 50%;
            margin-left: -0.5rem;
            > svg {
                font-size: 1rem;
            }
        }
    }

    &.disabled {
        opacity: .5;
        cursor: not-allowed;
    }
}