.ui-button {
    position: relative;
    border: none;
    outline: none;
    cursor: pointer;
    padding: calc(0.5rem - 1px) calc(0.75rem - 1px);
    @extend %Ñ2;
    font-weight: 500;
    line-height: 1rem;
    border: 1px solid;
    &:active {
        box-shadow: none !important;
    }
    &.loading {
        > span:first-child{
            filter: blur(1px);
            opacity: 0.4;
        }
        > span:last-child{
            position: absolute;
            left: 50%;
            margin-left: -0.5rem;
            > svg {
                font-size: 1rem;
            }
        }
    }
}