.ui-card {
    user-select: none;
    padding: 1.25rem;
    height: 160px;
    min-width: 280px;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    margin-bottom: 1.25rem;
    overflow: hidden;

    &.active {
        transform: translateX(20px);
        margin-right: -20px;
        height: 180px;
    }

    &-animation {
        &-wave {
            &1 {
                transition: transform 3s;
                will-change: transform;
                &-init {
                    transform: translateX(0)
                }
                transform: translateX(-300px)
            }
            &2 {
                transition: transform 2s;
                will-change: transform;
                &-init {
                    transform: translateX(0)
                }
                transform: translateX(-630px)
            }
        }
        &-circle {
            &1 {
                transition: transform 2s;
                will-change: transform;
                &-init {
                    transform: translateX(-50px) translateY(50px)
                }
                transform: translateX(0px) translateY(0px)
            }
            &2 {
                transition: transform 3s;
                will-change: transform;
                &-init {
                    transform: translateX(-120px) translateY(120px)
                }
                transform: translateX(0px) translateY(0px)
            }
        }
    }
}

@media (max-width: 640px) {
    .ui-card { 
        &.active {
            transform: translateX(0);
        }
    }
}