.ui-chart {    
    @include css3-prefix("transition", all .1s);
    @include css3-prefix("user-select", none);

    &-loading {
        font-size: 24px;
        font-weight: 500;
    }
    &-loadingtext {
        font-size: 16px;
        padding-top: 10px;
    }
}