$rowHeight: calc(4rem - 0.5px);
$rowHeightMin: 2.5rem;

.ui-menu {
    height: $rowHeight;
    padding: 0 2.5rem;
    border-bottom: 0.5px solid;
    user-select: none;

    &-header {
        height: $rowHeight;
        margin-right: 0.625rem;
        font-size: 1.5rem;
        cursor: pointer;
        
        &-title {
            line-height: 1.25rem;
            font-weight: bold;
        }
    }
    
    &-navbar {
        height: $rowHeight;

        > * {
            margin-right: 0.625rem;
        }

        &-hamburger {
            width: 1.5rem;
            height: 0.15rem * 3 + 0.225rem * 2;
            cursor: pointer;
            transition: transform 0.15s ease;
            z-index: 4;

            &-content {
                background-color: rgba(0,0,0,.3);
                padding: 0 2.5rem;
                overflow: hidden;
                transition: all 0.35s ease;

                > div {
                    transition: all 0.55s ease;
                    padding: 1rem;
                    > div {
                        text-align: center;
                        padding: 0.5rem;
                        font-weight: 500;
                        text-transform: uppercase;
                    }
                }
            }
        
            &:hover {
                opacity: 0.7;
            }

            &-top,
            &-middle,
            &-bottom {
                width: 1.5rem;
                height: 0.15rem;
                border-radius: 0.5rem;
                transition: transform 0.15s ease;
            }

            &.active {
                transform: translate3d(0, 0px, 0) rotate(45deg);

                .ui-menu-navbar-hamburger-top {
                    opacity: 0;
                }

                .ui-menu-navbar-hamburger-bottom {
                    transform: translate3d(0, -6px, 0) rotate(-90deg);
                }
            }
        }
    }

    &-toolsbar {
        height: $rowHeight;
        > * {
            margin-right: 0.625rem;
        }
    }

    &-profile {
        height: $rowHeight;
    }
}

.ui-menu-nav {
    font-size: 1rem;
    padding: 0.25rem 1rem;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.25rem
}