
.ui-popup {
    position: absolute;
    color: #000000;
    background: #ffffff;
    border: 0.5px solid;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 4px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &-error {
        background: red;
        border: none;
    }
}