.ui-stories {
    box-sizing: border-box;
    padding: 1.25rem 0;
    &-title {
        margin-left: 1.25rem;
        margin-bottom: 1rem;
        font-size: 18px;
        font-weight: bold;
        line-height: 24px;
    }

    &-items {
        // white-space: nowrap;
        overflow: scroll;
        padding: 0 1.25rem;
        &-item {
            box-sizing: border-box;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            overflow: hidden;
            border-radius: 0.5rem;
            border-width: 1px;
            border-style: solid;
            box-shadow: 0 1rem 1rem 0 rgba(0,0,0,0.14);
            display: inline-block;
            width: 7.5rem;
            min-width: 7.5rem;
            height: 10rem;
            margin-right: 1rem;
            cursor: pointer;
        }

        &-label {
            font-size: 0.75rem;
            font-weight: bold;
            padding: 0.75rem;
            line-height: 14px;
        }
    }

    &-modal {
        z-index: 500;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        visibility: hidden;
        overflow-y: scroll;
        padding: 20px;
        margin: 0 -23px 0 -23px;
        @include css3-prefix("transition", all .25s);

        &-mask {
            z-index: 500;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
            opacity: 0;
            visibility: hidden;
            @include css3-prefix("transition", all .25s);
            &-visible {
                visibility: visible;
                opacity: 0.7;
            }
        }

        &-visible {
            opacity: 1;
            visibility: visible;
            > div > div {
                opacity: 1;
                visibility: visible;
                @include css3-prefix("transform", scale(1));
            }
        }
        &-hidding {
            > div > div {  
                @include css3-prefix("transform", scale(1.8));
            }
        }

        &-nextstory {
            position: absolute;
            top: 0;
            left: 0;
            width: 2.5rem;
            height: 100%;
            cursor: pointer;
            z-index: 5;

            &:hover {
                background-color: rgba(0,0,0,0.1);
            }
        }

        &-prevstory {
            position: absolute;
            top: 0;
            right: 0;
            width: 2.5rem;
            height: 100%;
            cursor: pointer;
            z-index: 5;

            &:hover {
                background-color: rgba(0,0,0,0.1);
            }
        }
    }
    
}