.ui-stories {
    box-sizing: border-box;
    padding: 1.25rem 0;
    &-title {
        margin-left: 1.25rem;
        margin-bottom: 1rem;
        font-size: 18px;
        font-weight: bold;
        line-height: 24px;
    }

    &-items {
        // white-space: nowrap;
        overflow: scroll;
        padding: 0 1.25rem;
        &-item {
            box-sizing: border-box;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            overflow: hidden;
            border-radius: 0.5rem;
            border-width: 1px;
            border-style: solid;
            box-shadow: 0 1rem 1rem 0 rgba(0,0,0,0.14);
            display: inline-block;
            width: 7.5rem;
            min-width: 7.5rem;
            height: 10rem;
            margin-right: 1rem;
            cursor: pointer;
        }

        &-label {
            font-size: 0.75rem;
            font-weight: bold;
            padding: 0.75rem;
            line-height: 14px;
        }
    }

    &-modal {
        z-index: 500;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        visibility: hidden;
        overflow-y: scroll;
        padding: 20px;
        margin: 0 -23px 0 -23px;
        @include css3-prefix("transition", all .25s);


        &-slider {
            box-sizing: border-box;
            min-width: 320px;
            min-height: 480px;
            position: relative;

            &-story {
                opacity: 0;
                &-active {
                    opacity: 1;
                }

                &-slide {
                    opacity: 0;
                    // transition-delay: 0.5s;
                    // background-size: cover;
                    // background-repeat: no-repeat;
                    // background-position: center center;
                    // @include css3-prefix("transform", scale(1.2));
        
                    &-active {
                        opacity: 1;
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center center;
                        // transition: all 0.3s ease;
                        // @include css3-prefix("transform", scale(1));
                    }
                }
            }

            &-progressbar {
                position: relative;
                background: blue;
                border-radius: 5px;

                &-finished {
                    background: yellow;
                }
                
                > div {
                    background-color: red;
                    height: 3px;
                }
            }
        }



        &-visible {
            opacity: 1;
            visibility: visible;
            > div > div {
                opacity: 1;
                visibility: visible;
                @include css3-prefix("transform", scale(1));
            }
        }
        &-hidding {
            > div > div {  
                @include css3-prefix("transform", scale(1.8));
            }
        }




        &-mask {
            z-index: 500;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
            opacity: 0;
            visibility: hidden;
            @include css3-prefix("transition", all .25s);
            &-visible {
                visibility: visible;
                opacity: 0.7;
            }
        }
    }
    
}