.ui-title {
    font-weight: 900;
    font-size: 2rem;
    user-select: none;
    position: relative;
    line-height: 1;
    &-switch {
        cursor: pointer;
        position: relative;
        box-sizing: border-box;
        border: 2px solid;
        height: 30px;
        width: 60px;
        border-radius: 20px;
        > span {
            transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
            position: absolute;
            top: 4px;
            left: 4px;
            display: inline-block;
            width: 18px;
            height: 18px;
            border-radius: 10px;
        }
        &-active {
            > span {
                left: 34px;
            }
        }
    }
    &-action {
        cursor: pointer;
        padding: 0 10px;
        opacity: 0.3;
        transition: opacity 0.3s cubic-bezier(0.19, 1, 0.22, 1);
        &-active {
            opacity: 1;
        }
    }
}