.ui-widgetstat {
    &-title {
        font-size: 18px;
        text-transform: uppercase;
    }
    &-subtitle {
        font-size: 12px;
    }
    &-subtitle2 {
        font-size: 12px;
        text-align: right;
    }
    &-value1 {
        font-weight: 600;
        font-size: 28px;
        text-transform: uppercase;
    }
    &-value2 {
        font-size: 18px;
        text-transform: uppercase;
        svg {
            position: absolute;
            left: -30px;
            top: -5px;
            font-size: 28px;
        }
    }
    &-link {
        font-size: 14px;
        text-decoration: underline;

        &:hover {
            cursor: pointer;
        }
    }
    &-extra {
        margin: 1rem -1rem -1rem -1rem;
        border-top: 0.5px solid; 
    }
}