.ui-widget {
    line-height: 1;
    padding: 1rem;
    min-width: 300px;
    @include css3-prefix("transition", all .1s);
    @include css3-prefix("user-select", none);

    &-clickable {
        &:hover {
            @include css3-prefix("transform", scale(1.05));
        }
        &:active {
            @include css3-prefix("transform", scale(1.03));
        }
    }

    &-loading {
        font-size: 24px;
        font-weight: 500;
        color: rgba(#333, 0.5);
        svg { 
            color: #333;
        }
    }
    &-loadingtext {
        font-size: 16px;
        padding-top: 10px;
    }

    &-title {
        font-size: 18px;
        text-transform: uppercase;
    }
}