@import 'fonts';

$page-background: rgb(241, 241, 241);
$text: rgb(66, 66, 66);
$interface: rgb(70, 70, 70);
$pale: rgb(124, 124, 124);
$ui-background: rgb(255, 255, 255);
$highlight: rgb(188, 193, 209);
$accent: rgb(1, 162, 187);
$red: rgb(244, 67, 54);
$shadow: rgba(0, 0, 0, 0.1);

$ui-input-background: rgb(255, 255, 255);
$ui-finder-background: rgb(255, 255, 255);
$ui-button-radius: 20px;