@import 'fonts';

$page-background: rgb(243, 243, 243);
$text: rgb(31, 31, 31);
$interface: rgb(51, 8, 49);
$pale: rgb(231, 231, 231);
$ui-background: rgb(255, 255, 255);
$highlight: rgb(188, 193, 209);
$accent: rgb(0, 139, 160);
$red: rgb(244, 67, 54);
$shadow: rgba(0, 0, 0, 0.1);

$interfaceold: rgb(154, 170, 179);