.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.uppercase {
    text-transform: uppercase;
}

.disabled {
    opacity: 0.5;
}

// ::-webkit-scrollbar {
//     width: 10px;
//     border: 2px solid;
//     padding: 20px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//     border-radius: 5px;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//     border-radius: 5px;
//     border: 2px solid ;
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {

// }