@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,700,900&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Lora');


/* 
* ———————————————————————
* SETTINGS
* ———————————————————————
*/

$font-primary: 'Source Sans Pro', sans-serif;
$font-secondary: 'Lora', serif;
$base-font-size: 16px;

$p-line-height: 1.5rem;
$double-line: 3rem;
$quarter-line: 0.375rem;
$half-line: 0.75rem;
$three-quarter-line: 1.125rem;


//——————————————————————— 

:root {
    font-size: $base-font-size;
    line-height: $p-line-height;
    font-family: $font-primary;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

%article, article {
    max-width: 640px;
}

%p, p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

%h1, h1 {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

%h2, h2 {
    font-size: 1.5rem; 
    line-height: 2rem;
    margin-top: 2.5rem;
    margin-bottom: 0.5rem;
}

%h3, h3 {
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

%h4, h4 {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

%с1, .c1 {
    font-size: 1rem;
    line-height: 1rem;
}

%с2, .c2 {
    font-size: 0.875rem;
    font-size: 0.875rem;
}

%с3, .c3 {
    font-size: 0.75rem;
    font-size: 0.75rem;
}

%с4, .c4 {
    font-size: 0.625rem;
    font-size: 0.625rem;
}

%blockqoute, blockquote {
    font-family: $font-secondary;
    font-style: italic;
}